$light: hsl(0, 0%, 98%);
$dark: hsl(0, 0%, 25%);
$primary: hsl(220, 75%, 65%); // hsl(49, 98, 60);
$grey-light: hsl(0, 0%, 97%);
$grey-dark: hsl(0, 0%, 96%);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);
