@import 'variables';
@import 'fonts';

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: $dark;
    font-family: 'Open Sans', sans-serif;

    background-color: $light;
}

main {
    section:nth-of-type(2n + 1) {
        filter: brightness(0.99);
    }
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

.container {
    position: relative;

    max-width: 1000px;
    margin: 0 auto;

    background-color: $grey-light;

    & > div:first-child {
        background-color: $grey-dark;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 100%;
    }
}

.name {
    font-size: 2.5rem;
    line-height: 1.1;

    .first-name {
        font-weight: normal;
    }

    .last-name {
        letter-spacing: 0.1em;
    }
}

.contacts {
    margin-top: 5rem;
    border-top: 1px solid $dark;
}

.skills-grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, 10rem);
    gap: 2rem;
    justify-content: space-between;

    .skills-item {
        display: flex;
        align-items: center;
    }
}

.projects-grid {
    details {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;

        summary {
            cursor: pointer;
        }

        ul {
            list-style-type: '-  ';
        }
    }
}

.languages {
    position: absolute;
    top: 1rem;
    right: 1rem;

    a {
        cursor: pointer;
    }
}

.rounded {
    border-radius: 25%;
}

.relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify {
    &-between {
        justify-content: space-between;
    }

    &-end {
        justify-content: end;
    }
}

.align-center {
    align-items: center;
}

.gap-x {
    &-2 {
        column-gap: map-get($spacers, 2);
    }

    &-3 {
        column-gap: map-get($spacers, 3);
    }
}

.m {
    &t-auto {
        margin-top: auto;
    }

    &r-2 {
        margin-right: map-get($spacers, 2);
    }

    &r-3 {
        margin-right: map-get($spacers, 3);
    }

    &l-2 {
        margin-left: map-get($spacers, 2);
    }
}

.p {
    &-4 {
        padding: map-get($spacers, 4);
    }

    &-5 {
        padding: map-get($spacers, 5);
    }

    &l-2 {
        padding-left: map-get($spacers, 3);
    }
}

.fs-90 {
    font-size: 0.9rem;
}

.text {
    &-primary {
        color: $primary;
    }

    &-italic {
        font-style: italic;
    }

    &-bold {
        font-weight: bold;
    }

    &-end {
        text-align: end;
    }
}
