$light: hsl(0, 0%, 98%);
$dark: hsl(0, 0%, 25%);
$primary: hsl(220, 75%, 65%); // hsl(49, 98, 60);
$grey-light: hsl(0, 0%, 97%);
$grey-dark: hsl(0, 0%, 96%);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
);

* {
    box-sizing: border-box;
}

body {
    background-color: $light;
    color: $dark;
}

main {
    section:nth-of-type(2n + 1) {
        filter: brightness(0.99);
    }
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    position: relative;

    max-width: 1000px;
    margin: 0 auto;

    background-color: $grey-light;

    & > div:first-child {
        background-color: $grey-dark;
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 100%;
    }
}

.rounded {
    border-radius: 25%;
}

.content {
    min-width: 17.5rem;
}

.p-5 {
    padding: map-get($spacers, 5);
}

.p-4 {
    padding: map-get($spacers, 4);
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.text-primary {
    color: $primary;
}

.name {
    font-weight: normal;
    font-size: 2.5rem;
    font-family: sans-serif;

    .last-name {
        font-weight: bold;
        letter-spacing: 0.1em;
        @extend .text-primary;
    }
}

.mt-auto {
    margin-top: auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-x-2 {
    column-gap: map-get($spacers, 2);
}

.gap-x-3 {
    column-gap: map-get($spacers, 3);
}

.contacts {
    border-top: 1px solid $dark;
    margin-top: 5rem;
}

.text-bold {
    font-weight: bold;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mr-2 {
    margin-right: map-get($spacers, 2);
}

.mr-3 {
    margin-right: map-get($spacers, 3);
}

.text-end {
    text-align: end;
}

.fs-90 {
    font-size: 0.9rem;
}

.skills-grid {
    display: grid;

    grid-template-columns: repeat(auto-fill, 10rem);
    justify-content: space-between;
    gap: 2rem;

    .skills-item {
        display: flex;
        align-items: center;
    }
}